

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color:#24252A; ~grey */
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: red;
  margin-top: 1.7em;
}

.logo {
  width: 165px;
  background-color: blue;
  float: left;
 
}
@media only screen and (max-width: 1146px) {
  .navbar-main {
    display: none;
  }
}

/*
older version of navbar styling
.main_nav {
  list-style: none;
  margin-top:1.5em;
}

.main_nav li {
  display: inline-block;
  padding: 0px 15px;
  background-color: grey; 
}

.main_nav li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-family: arial;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
}

.main_nav li a:hover{
  color: #e979c3;
}
*/

.left {
  
    height: 65px;
    float: left;
    background-color:green;
}

.right {
    width: 12%;
    height: 65px;
    float: right;
    background-color:green;
      
  }

.middle {
  width: 60%;
  background-color: rgb(60, 149, 209);
  height: 50px;
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor:pointer;
  margin-top: 27px;
}

#hamburger-icon div{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px,6px);
  border-radius: 5px;
}

.open .line2 {
  opacity: 0;
  border-radius: 5px;
}

.open .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px,-6px);
  border-radius: 5px;
}

.open .hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hamburger-menu{
  background-color: lightcoral;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 42px;
  height: calc(100vh - 100px);
  width: 100%;
}

.hamburger-menu li{
  list-style-type: none;
  height: 5.5em;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(134, 56, 165);
}

.hamburger-menu li:hover{
 background-color: rgb(225, 103, 255); /* test hover */
}

.hamburger_menu li a:hover{
    /* background-color: rgb(251, 134, 255); test hover */
   }

.hamburger-menu li a{
  color: white;
  font-family: arial;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

@media only screen and (max-width: 1146px) {
#hamburger-icon{
  display: block;
}
}

section{
  background: lightsalmon;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: white;
  
  width: 50%;
}

h1{
  margin: 50px;
  color: black;
}


/* Drop Down Menu */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: grey;
  margin: 0;
}

.navbar {
  background: #fff;
  /* box-shadow: 0 0 15px 0 rgba($color: #03DAC5 , $alpha: 1.0) */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
  background-color: none;
  width: auto;
}
nav {
  font-size: 0;
}

nav a{
  font-size: 15px;
}

.navbar-category{
  background-color: pink;
}
.navbar li {
  display: inline-block;
  
  /* margin-right: -4px; moves li in sub menu */
}

.navbar a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 1em 2em;
  font-family: arial;
}

.navbar li:hover {
  background: #444;
}

.navbar li:hover a {
  color: #fff;
}

.menu-sub {
  position: absolute;
  /* left: 0; */
  background: #444;
  display: none;
  color: #fff;
  /* padding: 10em; */
  font-family: arial;

  width: 100vw;
  left: calc(-51vw + 50%);
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
  /* text-align: left; */
}

.menu-sub a {
  padding: 0;
  margin-bottom: .5em;
}

.menu-sub a:hover {
  text-decoration: underline;
  color: #018786;
}

.menu-category {
  margin: 2em 0 .5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 50%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* Logo */
.header-logo {
  text-align: center;
  background-color: beige;
  float: left;
}

/* */


/* */


