/*
dark purple:      #3700B3
midtone purple:   #6200EE
light purple:     #BB86FC
light cyan:       #03DAC5 
midtone cyan:     #018786
black:            #000000
white:            #FFFFFF
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  grid-area: main;
  background: cyan;
}

footer {
  grid-area: footer;
  background: magenta;
}

credits {
  grid-area: credits;
  background: lime;
}

h3 {
  text-transform: uppercase;
}

.grid-news, .grid-events, .grid-connect {
  margin: 20px;
  text-align: center;
}

.grid-news {
  width: 398px;
  height: 300px;
  background: #bb86fc;
}

.grid-events {
  width: 60%;
  height: 300px;
  background-color: #03dac5;
}

.grid-connect {
  width: 40%;
  height: 300px;
  background: #3700b3;
}

.grid-subscribe {
  width: 40%;
  height: 300px;
  background: white;
}

.grid-subscribe-signup {
  width: 60%;
  height: 300px;
  background: #bb86fc;
}

.fw {
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 2500px) {
  .fw {
    padding: 12px 24px 12px 24px;
  }
}

@media only screen and (max-width: 1600px) {
  .fw {
    padding: 12px 18px 12px 18px;
  }
}

@media only screen and (max-width: 900px) {
  .fw {
    padding: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .fw {
    padding: 12px;
  }
}

h1, h2, h3, h4, h5, #headerGrid, .span, .col-1, .col-2, .col-3, .col-4, .col-4321 {
  max-width: 1600px;
}

.col-1 {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

.span {
  grid-column: 1 / -1;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1 / 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  background: white;
}

.split-2 {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.pos-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.pos-2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1 / 1fr 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  background: #f6eec2;
}

.split-3 {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.pos-3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.post-23 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1 / 1fr 1fr 1fr 1fr;
}

.col-4321 {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

@media only screen and (max-width: 2500px) {
  .col-4321 {
    background: cyan;
    -ms-grid-rows: 1;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template: 1 / 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1600px) {
  .col-4321 {
    background: red;
    -ms-grid-rows: 1;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1 / 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .col-4321 {
    background: lime;
    -ms-grid-rows: 1;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1 / 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .col-4321 {
    background: blue;
    -ms-grid-rows: 1;
    -ms-grid-columns: 1;
        grid-template: 1 / 1;
  }
}

.split-4 {
  -webkit-column-count: 4;
          column-count: 4;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.split-4321 {
  -webkit-column-gap: 12px;
          column-gap: 12px;
  -webkit-column-count: 4;
          column-count: 4;
}

@media only screen and (max-width: 2500px) {
  .split-4321 {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media only screen and (max-width: 1600px) {
  .split-4321 {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (max-width: 900px) {
  .split-4321 {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media only screen and (max-width: 600px) {
  .split-4321 {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.pos-4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

section {
  background: lightsalmon;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  color: white;
  width: 50%;
}

h1 {
  margin: 50px;
  color: black;
}

.main-content {
  height: 1300px;
}

.col-name {
  font-family: arial;
}

.logo {
  width: 200px;
  margin-top: -40px;
}

.fill {
  height: 10000px;
  width: 1000px;
}

.bgimage {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  background-position: center;
  background-attachment: relative;
  opacity: 100%;
}

.nopad {
  padding: 0;
}

.height-nav {
  vertical-align: center;
  background-color: yellow;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.nav-vert {
  height: 70px;
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
}

.navbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* box-shadow: 0 0 15px 0 rgba($color: #03DAC5 , $alpha: 1.0) */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
  background-color: none;
  width: auto;
}

.b {
  float: right;
}

nav {
  font-size: 0;
}

.navbar li {
  display: inline-block;
  /* margin-right: -4px; moves li in sub menu */
}

.navbar a {
  color: white;
  width: 12em;
  text-decoration: none;
  display: block;
  padding: 1.5em 0.1em;
  font-family: arial;
  font-size: 12px;
  font-weight: bolder;
}

@media only screen and (max-width: 1320px) {
  .navbar a {
    color: white;
    width: 12em;
    text-decoration: none;
    display: block;
    padding: 1.3em 0.05em;
    font-family: arial;
    font-size: 12px;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1222px) {
  .navbar a,
  .navbar-category,
  .navbar {
    visibility: hidden;
  }
}

@media only screen and (max-width: 960px) {
  .navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0em 0.5em;
    font-family: arial;
  }
}

.navbar li:hover {
  background: #642ff5;
}

.navbar li:hover a {
  color: #fff;
}

.menu-sub {
  position: absolute;
  left: 0;
  background: #642ff5;
  width: 100%;
  display: none;
  color: #fff;
  padding: 2em;
  font-family: arial;
  width: 100vw;
  left: calc(-50vw + 50%);
}

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
  /* text-align: left; */
}

.menu-sub a {
  padding: 0;
  margin-bottom: .5em;
}

.menu-sub a:hover {
  text-decoration: underline;
  color: #018786;
}

.menu-category {
  margin: 2em 0 .5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1,
.menu-col-2,
.menu-col-3,
.menu-col-4 {
  float: left;
}

.menu-col-1 {
  width: 25%;
}

.menu-col-2 {
  width: 50%;
}

.responsive {
  max-width: 100%;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
  margin-top: -10px;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
  border-radius: 5px;
}

.open .line2 {
  opacity: 0;
  border-radius: 5px;
}

.open .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  border-radius: 5px;
}

.open .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hamburger-menu {
  background-color: lightcoral;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 42px;
  height: calc(100vh - 100px);
  width: 100%;
}

.hamburger-menu li {
  list-style-type: none;
  height: 5.5em;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #642ff5;
}

.hamburger-menu li:hover {
  background-color: #642ff5;
  /* test hover */
}

.hamburger_menu li a:hover {
  /* background-color: rgb(251, 134, 255); test hover */
}

.hamburger-menu li a {
  color: white;
  font-family: arial;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

@media only screen and (max-width: 1222px) {
  #hamburger-icon {
    display: block;
  }
}

.news-wrapper {
  max-width: 420px;
  overflow: hidden;
  margin: 10px;
}

.news-2 {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.news-2:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.category-indent {
  margin-top: 40px;
}

.news-bar {
  background-color: #642ff5;
  margin-top: -24px;
  height: 15px;
  width: 100vw;
}

.news {
  height: 100%;
}

.ftr-col-1,
.ftr-col-2,
.ftr-col-3,
.ftr-col-4 {
  font-family: arial;
  font-size: 10px;
  float: left;
  padding: 20px;
}

.footer-nav {
  padding: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 200px;
}

.footer-navbar {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-navbar li {
  list-style-type: none;
}

.ftr-col-2 a {
  text-decoration: none;
  color: white;
  background-color: none;
  width: 120px;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  margin-left: -40px;
}

.ftr-col-name {
  text-align: left;
  margin-left: 33px;
  width: 190px;
  color: white;
  background-color: none;
  border-top: 2px solid #03dac5;
  /* border-radius: none;*/
  padding-top: 24px;
}

.ftr-col-2 a {
  margin-left: 0px;
  font-weight: bolder;
}

.ftr-col-2 p {
  font-weight: bolder;
  font-size: 30px;
}

footer {
  height: 200px;
  background-color: #08011e;
  padding-bottom: 50px;
}

.sub-footer-copyright {
  height: 70px;
  background-color: black;
}

.copyright {
  color: white;
  font-family: arial;
  font-size: 10px;
  text-align: center;
  padding-top: 28px;
}

.footer-bg {
  height: 200px;
  background-color: red;
}

.credits {
  height: 50px;
  background-color: blue;
}

.ftr-col-2 li {
  list-style-type: none;
}

.ftr-vert {
  background-color: #08011e;
}

.ftr-logo {
  width: 400px;
}

.footer-color {
  background-color: #08011e;
  height: 270px;
  padding-top: 20px;
  padding-bottom: 40px;
}
