/*
dark purple:      #3700B3
midtone purple:   #6200EE
light purple:     #BB86FC
light cyan:       #03DAC5 
midtone cyan:     #018786
black:            #000000
white:            #FFFFFF
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: white;
  text-transform: uppercase !important;
}

a, a:link, a:active {
  text-decoration: none;
  color: white;
}

li.active {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.margin68 {
  padding: 6em 8em;
}

.margin28 {
  padding: 2em 8em;
}

.margin08 {
  padding: 0em 8em;
}

.footermargin {
  padding: 2em 8em;
}

/* Hero Section */
.bg-image {
  max-width: 100%;
  height: 50vh;
  background: url("../images/desktop/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-image h1 {
  color: white;
  text-shadow: 2px 2px #333;
}

.navbar-brand img {
  width: 186.83px;
  height: 73px;
}

.navbar {
  background-color: rgba(55, 17, 179, 0.5) !important;
}

.navbar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* box-shadow: 0 0 15px 0 rgba($color: #03DAC5 , $alpha: 1.0) */
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
  background-color: none;
  width: auto;
}

.navbar ul li {
  display: inline-block;
  /* margin-right: -4px; moves li in sub menu */
}

.navbar a {
  color: white;
  width: 12em;
  text-decoration: none;
  display: block;
  padding: 1.5em 0.1em;
  font-family: arial;
  font-size: 12px;
}

/* TESTING mobile

@include screen-desktop {
	.navbar {
		width: 100px;
	
	.navbar-brand {
		margin-left: -100px;
	}
	}
}
*/
.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.navbar li:hover {
  font-weight: bolder;
  background: #642ff5;
}

.navbar li:hover a {
  color: #fff;
}

@media only screen and (max-width: 1320px) {
  .navbar a {
    color: white;
    width: 12em;
    text-decoration: none;
    display: block;
    padding: 1.3em 0.05em;
    font-family: arial;
    font-size: 12px;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1222px) {
  .navbar a,
  .navbar-category,
  .navbar {
    visibility: hidden;
  }
}

@media only screen and (max-width: 960px) {
  .navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0em 0.5em;
    font-family: arial;
  }
}

.breadcrumb, .breadcrumb-item {
  height: 10px;
  font-size: small;
  color: white !important;
  text-transform: uppercase;
}

.card-deck, .card {
  background-color: #08011E;
}

.card-body {
  padding: 1em 0;
}

@media (min-width: 650px) {
  .containerMobile {
    display: none;
  }
}

@media (max-width: 650px) {
  .containerDesktop {
    display: none;
  }
}

.logo {
  width: 200px;
  margin-top: -40px;
}

/* For Reference
#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
    margin-top:-10px;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 5px;
    
}

.open .line1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
	border-radius: 5px;
}

.open .line2 {
	opacity: 0;
	border-radius: 5px;
}

.open .line3 {
	-webkit-transform: rotate(45deg) translate(-6px, -6px);
	transform: rotate(45deg) translate(-6px, -6px);
	border-radius: 5px;
}

.open .hamburger-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.hamburger-menu {
	background-color: lightcoral;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	margin-top: 42px;
	height: calc(100vh - 100px);
	width: 100%;
}

.hamburger-menu li {
	list-style-type: none;
	height: 5.5em;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: rgb(100, 47, 245);
		a {
			color: white;
			font-family: arial;
			text-decoration: none;
			font-weight: bold;
			font-size: 24px;
			&:hover {
				background-color: rgb(100, 47, 245);
			}
		}
}

@media only screen and (max-width: 1222px) { //1140px originally
	#hamburger-icon {
		display: block;
	}
}
*/
.ftr-col-1,
.ftr-col-2,
.ftr-col-3,
.ftr-col-4 {
  font-family: arial;
  font-size: 10px;
  padding: 20px;
}

.ftr-col-2 a {
  text-decoration: none;
  color: white;
  background-color: none;
  width: 120px;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  margin-left: 0px;
  font-weight: bolder;
}

.ftr-col-2 p {
  font-weight: bolder;
  font-size: 30px;
}

.ftr-col-2 li {
  list-style-type: none;
}

.ftr-logo {
  width: 450px;
}

.ftr-col-name {
  text-align: left;
  margin-left: 33px;
  width: 190px;
  color: white;
  background-color: none;
  border-top: 2px solid #03dac5;
  /* border-radius: none;*/
  padding-top: 24px;
}

.ftr-vert {
  background-color: #08011e;
}

.footer-color {
  background-color: #08011e;
  height: 330px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.credits-color {
  background-color: black;
}

.social-logo {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.social-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

@media only screen and (max-width: 600px) {
  .ftr-logo {
    width: 377px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .margin28 {
    padding: 0em 0em;
  }
  .margin08 {
    padding: 0em 0em;
  }
  .ftr-col-name {
    text-align: left;
    margin-left: 33px;
    width: 190px;
    color: white;
    background-color: none;
    border-top: 2px solid #03dac5;
    /* border-radius: none;*/
    padding-top: 5px;
  }
  .footer-color {
    background-color: #08011e;
    height: 740px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .ftr-col-1,
  .ftr-col-2,
  .ftr-col-3,
  .ftr-col-4 {
    font-family: arial;
    font-size: 10px;
    width: 300px;
    margin: 10px 25px;
  }
  .social-logo {
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
}
