// Variables -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Type
$serif: '', '', '', serif; // insert brand serif fonts here
$sans: '', '', sans-serif; // insert brand sans-serif fonts here
$sans-cond: ''; // insert brand sans-serif condensed fonts here
$mono: ''; // insert brand mono fonts here

// Colors (hex)
/*
dark purple:      #3700B3
midtone purple:   #6200EE
light purple:     #BB86FC
light cyan:       #03DAC5 
midtone cyan:     #018786
black:            #000000
white:            #FFFFFF
*/

// Colors (rgb var)
$darkpurple: rgb(55, 00, 179);
$midpurple: rgb(98, 00, 238);
$lightpurple: rgb(187, 134, 252);
$darkblue: rgb(08, 01, 30);
$midcyan: rgb(0, 86, 84);
$lightcyan: rgb(3, 218, 197);
$black: rgb(00, 00, 00);
$white: rgb(255, 255, 255);

// Sizes
$size: 12px; // for padding, etc.
$radius: 3px;
$grid-breakpoints: (phone: 0,
	tablet: 600px,
	desktop: 900px,
	large: 1600px);

// Misc.
$prefixes: -webkit-,
-moz-,
-o-,
"";

// Mixins -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

@function tint($color, $percentage) { // creates "tint", the addition of white to $color (e.g. $percentage between $color and white)
	@return mix(white, $color, $percentage);
}

@function shade($color, $percentage) { // creates "shade", the addition of black to $color (e.g. $percentage between $color and black)
	@return mix(black, $color, $percentage);
}


@mixin screen-large { // Large - 1601 to 2500 screen size
	@media only screen and (max-width: 2500px) {
		@content;
	}
}

@mixin screen-desktop { // desktop - 901 to 1600 screen size
	@media only screen and (max-width: 1600px) {
		@content;
	}
}

@mixin screen-tablet { // Tablet - 601 to 900 screen size
	@media only screen and (max-width: 900px) {
		@content;
	}
}

@mixin screen-phone { // Phone - below 600 screen size
	@media only screen and (max-width: 600px) {
		@content;
	}
}

// General Styles -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: white;
    text-transform: uppercase !important;
}

a, a:link, a:active {
    text-decoration: none;
    color: white;
}

li.active {
    font-weight: bold;
}

// Global Styles -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

// Page Structure -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// CSS Grid -------------------------------------------

.margin61 {
	padding: 6em 1em;
}

.margin68{
	padding: 6em 8em;
}

.margin28{
	padding: 2em 8em;
}

.margin18{
	padding: 1em 8em;
}

.footermargin{
	padding: 2em 8em;
}


// Header -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

/* Hero Section */

.bg-image { 
    max-width: 100%;
    height: 50vh;
    background: url("../images/desktop/home.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgimage h1 {
    color: white;
    text-shadow: 2px 2px #333;
}

.hero {
    margin-top: 20% !important;
}

// Main Navigation -------------------------------------------

// Logo ------------------------------------------------------

.navbar-brand img { 
    width: 186.83px;
    height: 73px;
}

.navbar {
    background-color: rgba(55,17,179,0.5) !important;
}

.navbar {
	// background: #fff;
    justify-content: center;
    align-items: center;
	/* box-shadow: 0 0 15px 0 rgba($color: #03DAC5 , $alpha: 1.0) */
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			position: relative;
			text-align: center;
			background-color: none;
			width: auto;   
			li {
				display: inline-block;
			    
				/* margin-right: -4px; moves li in sub menu */
			}
		}
		a {
			color: white;
		    width: 12em;
			text-decoration: none;
			display: block;
			padding: 1.5em 0.1em;
			font-family: arial;
		    font-size: 12px;
		    // font-weight:bolder;
		    /// border-bottom: 2px solid white; check
			
		}
}
/* TESTING mobile

@include screen-desktop {
	.navbar {
		width: 100px;
	
	.navbar-brand {
		margin-left: -100px;
	}
	}
}
*/

.nav-link {
    color: white !important;
    text-transform: uppercase;
}
// Navbar Hovers ------------------------------------------------
.navbar li:hover {
	font-weight: bolder;
	background: rgb(100, 47, 245);
}

.navbar li:hover a {
	color: #fff;
}

// .dropdown-menu {
// 	width: 100vw !important;
// 	height: 20% !important;
// }

// Nav Mobile ------------------------------------------------------
@media only screen and (max-width: 1320px)
 {
	.navbar a{
        color: white;
        width: 12em;
        text-decoration: none;
        display: block;
        
        padding: 1.3em 0.05em;
        font-family: arial;
        font-size: 12px;
        font-weight:bolder;
        
        
	}
  }

  @media only screen and (max-width: 1222px)
  {
  .navbar a,
  .navbar-category,
  .navbar  {
    // color: #444;
    // text-decoration: none;
    // display: block;
    // padding: 0em 1em;
    // font-family: arial;
    visibility: hidden;
}
}

@media only screen and (max-width: 960px)
{
.navbar a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 0em 0.5em;
  font-family: arial;
}
}

// Breadcrumb Navigation -------------------------------------------

.breadcrumb, .breadcrumb-item {
    height: 20px;
    font-size: smaller !important;
    color: white !important;
    text-transform: uppercase;
}

// Main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// News Section -------------------------------------------

.card-deck, .card {
	background-color: #08011E; // color from XD Prototype
}

.card-body {
	padding: 1em 0;
}

// Media Queries (Image Carousel) -------------------------------------------

@media (min-width: 650px) { 
  .containerMobile {
    display: none;
  }
}

@media (max-width: 650px) { 
  .containerDesktop {
    display: none;
  }
}

// Upcoming Events // Connect With Us Section -------------------------------------------

// Stay Up To Speed Section -------------------------------------------



// End Main -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=


.logo {
	width: 200px;
	// background-color: blue;
    margin-top:-40px;
}


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
      );

// Hamgburger Menu -------------------------------------------
// Readd hamburger function top right corner of navbar
/* For Reference
#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
    margin-top:-10px;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 5px;
    
}

.open .line1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
	border-radius: 5px;
}

.open .line2 {
	opacity: 0;
	border-radius: 5px;
}

.open .line3 {
	-webkit-transform: rotate(45deg) translate(-6px, -6px);
	transform: rotate(45deg) translate(-6px, -6px);
	border-radius: 5px;
}

.open .hamburger-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.hamburger-menu {
	background-color: lightcoral;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	margin-top: 42px;
	height: calc(100vh - 100px);
	width: 100%;
}

.hamburger-menu li {
	list-style-type: none;
	height: 5.5em;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: rgb(100, 47, 245);
		a {
			color: white;
			font-family: arial;
			text-decoration: none;
			font-weight: bold;
			font-size: 24px;
			&:hover {
				background-color: rgb(100, 47, 245);
			}
		}
}

@media only screen and (max-width: 1222px) { //1140px originally
	#hamburger-icon {
		display: block;
	}
}
*/



// FOOTER ----------------------------------------------------------
.ftr-col-1,
.ftr-col-2,
.ftr-col-3,
.ftr-col-4 {
	font-family: arial;
	font-size: 10px;
	float: left;
	padding: 20px;
}

.ftr-col-2	{
				a {
					text-decoration: none;
					color: white;
					background-color: none;
					width: 120px;
					float: left;
					padding-top: 8px;
					padding-bottom: 8px;
					text-align: left;
					margin-left: 0px;
					font-weight: bolder;
				}
				p {
					font-weight: bolder;
					font-size: 30px;
				}
				li {
					list-style-type: none;
				}
}
.ftr-logo {
	width: 450px;
}
.ftr-col-name {
	text-align: left;
	margin-left: 33px;
	width: 190px;
	color: white; 
	background-color: none;
	border-top: 2px solid $lightcyan;
	// border-right: 2px solid $lightcyan;
	/* border-radius: none;*/
	padding-top: 24px;
}

.ftr-vert {
	// height: 200px;
	background-color: $darkblue;
}

.footer-color {
	background-color: $darkblue;
	height: 330px;
	padding-top: 20px;
	padding-bottom: 40px;
}

.footerminus-row{
	margin-top: -70px;
}

.credits {


	background-color: black;

	p{
		margin-top: 1em;
		font-size: 12px;
		font-weight: bolder;
		text-align: center;
		color: white;
	}
}

.row-minus2{
	padding: -6em -8em;
}




.social-logo{
	width:40px;
	text-align: center;
	display: flex;
	background-color: black;
}